/* Mixin */
/* Mixin */
/* Mixin */
html,
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #e3e1e3;
  font-family: 'Oswald', sans-serif;
}
header section.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header section.head h1 {
  font-size: 7vw;
  margin: 0;
  padding: 0;
  line-height: 100%;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row no-wrap;
  background-color: #fbf9fb;
}
header nav ul {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  flex-flow: row no-wrap;
}
header nav ul.left {
  margin-left: 2%;
  flex: 1;
}
header nav ul.left li {
  flex-grow: 1;
}
header nav ul.right {
  margin-right: 3%;
  flex-grow: 1;
  justify-content: flex-end;
}
header nav ul.right li a {
  background-color: #f03d33;
  color: #fbf9fb;
  padding: 3%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}
header nav ul.right li a:hover {
  background-color: #fbf9fb;
  color: #f03d33;
}
header nav ul li,
header section.head_main nav div.logo {
  display: inline-flex;
  padding: 2% 3%;
  flex-shrink: 0;
  align-self: center;
}
header nav ul li a {
  color: #343239;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #f03d33;
}
header section.head_main {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
header section.head_main nav {
  font-size: 20px;
}
header section.head_main nav div.logo {
  display: flex;
  flex: 1;
  padding: 0;
  margin-left: 2%;
}
header section.head_main nav div.logo h1 {
  margin: 0;
  font-size: 30px;
  margin-top: -5px;
  color: #f03d33;
}
header section.head_main section.carousel {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header section.head_main section.carousel article.frontitem {
  background-color: rgba(227, 225, 227, 0.75);
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  animation-name: item_up;
  animation-duration: 1s;
  animation-delay: 0;
  animation-timing-function: ease-out;
}
@keyframes item_up {
  0% {
    margin-top: 30%;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
header section.head_main section.carousel article.frontitem h1 {
  margin: 0;
  animation-name: item_up;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-timing-function: ease-out;
}
@keyframes item_up {
  0% {
    margin-top: 30%;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
header section.head_main section.carousel article.frontitem p {
  margin: 0;
  animation-name: item_up;
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-timing-function: ease-out;
}
@keyframes item_up {
  0% {
    margin-top: 30%;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
header section.head_main section.carousel i.btn {
  font-size: 50px;
  flex: 1;
  color: white;
  cursor: pointer;
}
header section.head_main section.carousel i.btn:hover {
  color: grey;
}
header section.head_main section.carousel i.left.btn {
  text-align: left;
  margin-left: 2%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header section.head_main section.carousel i.left.btn:hover {
  margin-left: 0;
  margin-right: 2%;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
header section.head_main section.carousel i.right.btn {
  text-align: right;
  margin-right: 2%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header section.head_main section.carousel i.right.btn:hover {
  margin-right: 0;
  margin-left: 2%;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
section.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
section.main section {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
}
section.main section.testimonial div {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  margin-top: 1%;
}
article.post {
  text-align: center;
}
article.post h1 {
  background-color: #343239;
  margin: 0;
  height: 100px;
  color: #fbf9fb;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.woocommerce div.single-product {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 130px;
}
@media only screen and (max-width: 600px) {
  header section.head h1 {
    font-size: 50px;
  }
}
